@{
    ViewBag.Title = "About";
}
<div id="SinglePageContent" class="body-content">
    <div class="About-content">
        <div class="About-desc">
            <div class="About-desc-right">
                <img src="@Url.Content("~/Images/about_logo.png")" />
            </div>
            <div class="About-desc-left">
                <div class="About-desc-header">
                    <p class="Hb">Home Library</p>
                </div>
                <p class="Hs">
                    Home Library application was found for people who wants to digitalize physical library
                    and share with friends their books. You can check which books your friends have and maybe propose
                    'book swap'. Website allow you to review books which you have and. It shows other members which books
                    are worth to read. To improve communication with your friends we offer a chat. Besides Home Library is
                    great organizer for your books it is virtual library you can check where your book is. Maybe you lend
                    book which looking for someone? Application allow you to mark this fact and it would be easy to find.
                    Website allow you to check where you put book in your home e.g: which shelf or bookshelf? It helps a lot.
                    Work began in 2019, created by Sebastian K.
                </p>
            </div>
        </div>
        <div class="section-blocks">
            <div class="block block-2">
                <div class="image-bcg"><img class="About-icon" src="@Url.Content("~/Images/chat_icon.png")" /></div>
                <p class="Hs">
                    Invite friends and communicate with them by our chat it gives you a chance to talk with friends about books.
                    You can check which book your friend wants to swap or maybe which book wants to lend. Home Library was created 
                    by people for people. We need active and passion members. Try now it costs nothing. 
                </p>
            </div>
            <div class="block block-2">
                <div class="image-bcg"><img class="About-icon" src="@Url.Content("~/Images/help_icon.png")" /></div>
                <p class="Hs">
                    If you need some help or found some problem in application give feedback in 'help' section we appreaciate
                    because it lets as to improve this place. Maybe have some suggestions e.g: what we can change to encourage
                    new members to use our application we rely on our community which is the most important part of Home Library.
                </p>
            </div>
            <div class="block block-2">
                <div class="image-bcg"><img class="About-icon" src="@Url.Content("~/Images/admin_icon.png")" /></div>
                <p class="Hs">
                    Want engage more? Become our admin! If you think that this is your place, have some sense of humor,
                    and have resolving problems skills contact with us by 'help' section. We check your application
                    and give you a feedback. Nothing to lose! You can meet new people and help other members.
                </p>
            </div>
        </div>
    </div>
</div>
