<div id="SinglePageContent" class="body-content">
    <div class="Help-content">
        <div class="Help-desc">
            <div class="Help-desc-right">
                <div class="Help-desc-right-bcg">
                    <img src="@Url.Content("~/Images/Contact_icon.png")" />
                </div>
            </div>
            <div class="Help-desc-left">
                <div class="About-desc-header">
                    <p class="Hb">Read before send email!</p>
                </div>
                <p class="Hs">
                    If you want to contact with as from some reasons type at our mail HomeLibrary@gmail.com.
                    <br />What your message should contain :
                </p>
                <ul class="contact-list">
                    <li>
                        <p class="Hs">purpose of message (e.g: "website problem")</p>
                    </li>
                    <li>
                        <p class="Hs">Home Library login if it is different than email</p>
                    </li>
                    <li>
                        <p class="Hs">try type concrete.</p>
                    </li>
                </ul>
                <p class="Hs">
                    If you want to become an admin contact at HomLibraryAdmins@gmail.com
                    <br />What your message should contain :
                </p>
                <ul class="contact-list">
                    <li>
                        <p class="Hs">describe yourself</p>
                    </li>
                    <li>
                        <p class="Hs">Home Library login if it is different than email</p>
                    </li>
                    <li>
                        <p class="Hs">how old are you</p>
                    </li>
                    <li>
                        <p class="Hs">where are you from</p>
                    </li>
                    <li>
                        <p class="Hs">why you want become an admin.</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
